<div class="header">
    <div class="headerTop">
        <div class="unico">
        <div class="Navi" id="logoEmail">
        <span class="material-symbols-outlined"> document_scanner</span>
        <p>www.mybuisness.com.ar</p>
        </div>
        <div class="Navi" id="contact">
        <span class="material-symbols-outlined"> mail</span>
        <p>contact@mybuisness.com.ar</p>
    </div>
    </div>
    </div>
    <div class="headerMid">
        <div class="left">
        <button>
            <a routerLink="/admin">
            <img src="/assets/0704235.jpg" alt="logoBuisness">
        </a>
        </button>
        </div>

        <div class="center">
        <app-search></app-search>
        </div>

        <div class="right" id="LayoutButtons">

            <button class="buttonCP">
                <span class="material-symbols-outlined">account_circle</span>
                <span id="spanSpecial">Name User</span>
        </button>
        </div>
    </div>
    <div class="headerDown">
        <div id="layoutCategory">
            <app-button-category></app-button-category>
            </div>
    <div id="layoutFeatures">
            <a routerLink="/">Principal</a>
            <a routerLink="loadProduct">Oferta 1</a>
            <a routerLink="generatePdf" class="link-button">oferta 2</a>
            <a routerLink="addCategory">oferta 3</a>
    </div>
    <div id="layoutSucursal">
        <button>
            <span class="material-symbols-outlined">Manage_Accounts</span>
            <span>Sucursales</span>
            <span class="material-symbols-outlined">arrow_drop_down</span>
        </button>
    </div>
    </div>
</div>
