<div class="header">
    <div class="headerTop">
        <div class="unico">
            <div class="Navi" id="logoEmail">
                <span class="material-symbols-outlined">document_scanner</span>
                <p>www.mybuisness.com.ar</p>
            </div>
            <div class="Navi" id="contact">
                <span class="material-symbols-outlined">mail</span>
                <p>contact@mybuisness.com.ar</p>
            </div>
        </div>
    </div>

    <div class="headerMid">
        <button class="mobile-menu-btn" (click)="toggleMenu()">
            <span class="material-symbols-outlined">
                {{ menuAbierto ? 'close' : 'menu' }}
            </span>
        </button>

        <div class="left">
            <button>
                <a [routerLink]="isAdmin ? '/admin' : '/'" class="logoBuisness">
                    <img src="/assets/0704235.png" alt="logoBuisnessx">
                </a>
            </button>
        </div>

        <div class="center">
            <app-search></app-search>
        </div>

        <div class="right" id="LayoutButtons">
            <button class="buttonCP">
                <span class="material-symbols-outlined">account_circle</span>
                <span id="spanSpecial">{{ userName }}</span>
            </button>
        </div>
    </div>

    <div class="headerDown" [class.active]="menuAbierto">
        <div id="layoutCategory">
            <app-button-category></app-button-category>
        </div>
        
        <div id="layoutFeatures">
            @if (isAdmin) {
                <a routerLink="/admin" (click)="closeMenu()">Principal</a>
                <a routerLink="loadProduct" (click)="closeMenu()">Agregar Producto</a>
                <a (click)="generarPdf(); closeMenu()" class="link-button">Generar PDF</a> 
                <a routerLink="addCategory" (click)="closeMenu()">Agregar Rubro</a>
            } @else {
                <a routerLink="/" (click)="closeMenu()">Principal</a>
                <a routerLink="/" class="link-button" (click)="closeMenu()">Oferta 1</a>
                <a routerLink="/" class="link-button" (click)="closeMenu()">Oferta 2</a>
                <a routerLink="/" class="link-button" (click)="closeMenu()">Oferta 3</a>
            }
        </div>
        
        <div id="layoutSucursal">
            @if (isAdmin) {
                <button>
                    <span class="material-symbols-outlined">Manage_Accounts</span>
                    <span>Admin</span>
                    <span class="material-symbols-outlined">arrow_drop_down</span>
                </button>
            }
        </div>
    </div> 
</div>