.general{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    gap: 1.5rem;
}
.background{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(227,227,227);
}
.banner{
    width: 100%;
    max-width: 1390px;
    height: 400px;
    margin: 0 auto;
}
.layoutContentCatalog{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}
.layoutContentCatalog h2{
    font-size: 2.3rem;
    color: #333;
    margin: 1rem 0;
}