#nav{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    padding:0.4rem 1rem;
    margin:0px;
    color: white;
    padding-left:34rem ;
    padding-right: 32rem;
    height: 0.8rem;
}
.Navi {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem; /* espacio entre icono y texto */
}
.Navi p {
    margin: 0;
    white-space: nowrap; /*normamete el texto salta de linea, esto lo evita y hace que el texto se mantenga en una sola linea, si el texto es demasiado largo, se desbordara del contenedor, pero no se romperá en varias lineas */
}
.Navi span {
    flex-shrink: 0; /*signfica que si falta espacio  , me achico */
}
/* vh es una unidad de medida relativa a la altura del viewport, en este caso el 5% de la altura del viewport. Esto hace que el nav tenga una altura fija y se mantenga visible en la parte superior de la página incluso al hacer scroll.
   vw es una unidad de medida relativa al ancho del viewport, en este caso el 10% del ancho del viewport.
   importante recorda el padding estable la algura minima de heing ,etc
   el % depende es respecto al elemento padre,el body no tiene altura definida */