body {
  margin: 0;
  font-family: "Smooch Sans", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  /*font-weight: 600; */
}

/*
html, body{
    height: 100%;
    margin: 0;
} nani como funcionaba esto xd  */